.root {
  position: fixed;
  overflow-x: hidden;
  overflow-y: auto;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.floating-header {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
}
.floating-header > img {
  height: 100%;
}
.content {
  position: absolute;
  top: calc(10% + 5px);
  width: 100%;
}
table.contents {
  display: inline-block;
}
.contents tr:nth-child(even) {
  color: #dedede;
}
.contents tr:nth-child(odd) {
  color: #bbbbbb;
}

* {
  color: #fff;
  background: #4e4e4e;
  text-align: center;
  font-family: arial;
  box-sizing: border-box;
}
